 <h2 class="page-header">Dashboard</h2>
<p>Your Timeline</p>

<div id="timeline" class="row">
        <div class="col-xs-12">
            <div class="timeline-line"></div>
            <div col="row">
                <div class="timeline-content-holder col-xs-6">
                    <div class="timeline-content">
                        <div class="timeline-dot"></div>
                        <div class="timeline-arrow"></div>
                        <div class="time-cont row">
                            <div class="col-sm-4">
                                <p><img class="img-responsive" src="http://placehold.it/75x75">
                                </p>
                            </div>
                            <div class="time-cont-col col-sm-8">
                                <p class="timeline-post">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-content-holder col-xs-6">
                    <div class="timeline-content-date">
                            <p>February 12, 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
