<ul class="timeline">
    <form class="form-horizontal">
        <fieldset>

            <!-- Textarea -->
            <div class="form-group">
                <div>
                    <textarea id="post-area" name="post-area" rows="3" cols="90" placeholder="Have something to share? Post it here!" maxlength="500"></textarea>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div>
                    <button id="post-submit-btn" name="post-submit-btn" class="btn btn-primary">Post</button>
                </div>
            </div>

        </fieldset>
    </form>
    <li>
        <p class="timeline-date">Date Here</p>
        <div class="timeline-content">
            <p>Post goes here. Set a character limit? Post goes here. Set a character limit? Post goes here. Set a character limit? Post goes here. Set a character limit?Post goes here. Set a character limit?Post goes here. Set a character limit?Post goes here. Set a character limit? Post goes here. Set a character limit?Post goes here. Set a character limit?Post goes here. Set a character limit? Post goes here. Set a character limit?Post goes here. Set a character limit?Post goes here. Set a character limit? Post goes here. Set a character limit?Post goes here. Set a character limit?Post goes here. Set a character limit? Post goes here. Set a character limit?Post goes here. Set a character limit?Post goes here. Set a character limit?
            </p>
            <div class="comment-content">
                <h6>0 Comments</h6>
                <div id="posted-comment-area">
                    <p>Posted Comment goes here</p>
                    <div id="reply-area">
                        <p>Posted reply goes here</p>
                    </div>
                </div>
                <textarea id="comment-area" name="comment-area" rows="1" cols="60" placeholder="Post a comment..." maxlength="500"></textarea>
            </div>
            <div>
                <button id="post-submit-btn" name="post-submit-btn" class="btn btn-primary">Post</button>
            </div>
        </div>
    </li>
    <li>
        <p class="timeline-date">Date Here</p>
        <div class="timeline-content">
            <p>Post goes here. Set a character limit?</p>
            <div class="comment-content">
                <h6>0 Comments</h6>
                <div id="posted-comment-area">
                    <p>Posted Comment goes here</p>
                    <div id="reply-area">
                        <p>Posted reply goes here</p>
                    </div>
                </div>
                <textarea id="comment-area" name="comment-area" rows="1" cols="60" placeholder="Post a comment..." maxlength="500"></textarea>
            </div>
            <div>
                <button id="post-submit-btn" name="post-submit-btn" class="btn btn-primary">Post</button>
            </div>
        </div>
    </li>
    <li>
        <p class="timeline-date">Date Here</p>
        <div class="timeline-content">
            <p>Another fake post to test design</p>
            <div class="comment-content">
                <h6>0 Comments</h6>
                <div id="posted-comment-area">
                    <p>Posted Comment goes here</p>
                    <div id="reply-area">
                        <p>Posted reply goes here</p>
                    </div>
                </div>
                <textarea id="comment-area" name="comment-area" rows="1" cols="60" placeholder="Post a comment..." maxlength="500"></textarea>
            </div>
            <div>
                <button id="post-submit-btn" name="post-submit-btn" class="btn btn-primary">Post</button>
            </div>
        </div>
    </li>
</ul>
