#timeline {
     background: #F6F6F6;
     height: 400px;
}
.timeline-line {
     position: absolute;
     left: 50%;
     border-left: 1px solid #AAA;
     height: 100%;
     
}
.timeline-content-holder {
	position: relative;
}

.timeline-content {
	 position: relative;
     border: 1px solid #BBB;
     margin: 6px 10px;
     background: white;
     padding: 10px;
}

.timeline-content-date {
	 position: relative;
     margin: 16px 6px;
     padding-top: 26px;
}

.timeline-content-date p {
	 font-size: 24px;
	 color: #2299DD;
	 font-family: Verdana, Arial, Times New Roman;
}

.timeline-arrow {
	position: absolute;
	left: 100%;
	top: 50%;
}
.timeline-arrow:after, .timeline-arrow:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.timeline-arrow:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.timeline-arrow:before {
	border-color: rgba(136, 136, 136, 0);
	border-left-color: #888888;
	border-width: 11px;
	margin-top: -11px;
}

.timeline-dot {
	position: absolute;
	right: -30px;
	top: 50%;
	background-color: #2299DD;
	border-radius: 50%;
	border: 1px solid #888888;
	width: 7px;
	height: 7px;
	margin-top: -3px;
}

.timeline-post {
	font-size: 16px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.time-cont .time-cont-col {
		padding-left: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}